<% layout('/boilerplate/template') -%>
    <style>
        @media print {

            .btn,
            .yes,
            table {
                display: none;
            }

            .form-control {
                display: none;
            }
        }
    </style>

    <form action="/admin/sales" method="get">
        <div class="input-group">

            <input type="date" name="date" class="form-control">
            <button class="btn btn-primary">Submit</button>
            <a href="/admin" class="btn btn-danger">Return</a>
        </div>
        <div class="input-group mb-5 mt-3">
            <span class="input-group-text" for="branch_name">Select Branch</span>
            <select class="form-select" aria-label="branch_name" name="branch_name">
                <% for(branch of branches){ %>
                    <option value="<%= branch._id %>">
                        <%= branch.name%>
                    </option>
                    <% } %>
            </select>
        </div>
    </form>

    <div>

        <% if(products.length){%>
            <% let end=0, totalSales=0,totalKg=0 %>
                <h2 style="text-align: center;">DATE: <%- products[0].date.toDateString() %>
                </h2>
                <%for (product of products){ %>
                    <div>
                        <% totalSales +=product.totalprice%>
                            <% totalKg +=product.totalweight%>

                                Amount Paid: &#8358;<%- product.totalprice %><br>
                                    Serial Number: <%- product.SN %> <br>
                                        <span class="yes">

                                            Branch: <%- product.branch %><br>
                                                Payment Method: <%- product.payment %><br>
                                                    Attendant Name: <%- product.username %> <br>
                                        </span>
                                        Total Weight: <%- product.totalweight %>kg <br>
                                            <table>
                                                <tr>
                                                    <th>Qunatity</th>
                                                    <th>Price</th>
                                                </tr>
                                                <% for(ite of product.items){ %>
                                                    <tr>
                                                        <td>
                                                            <%- ite.quantity%>kg
                                                        </td>
                                                        <td>
                                                            &#8358;<%- ite.price%>
                                                        </td>
                                                    </tr>
                                                    <% } %>
                                            </table>
                                            <a href="/delete/<%- product._id %>" class="btn btn-danger">Delete</a>
                                            <br><br>

                    </div>
                    <% } %>
                        <div class="fs-4">
                            <span>Total Sales: &#8358;<%- totalSales %></span><br>
                            <span>Total Kg: <%- totalKg %>kg</span>
                        </div>
                        <div class="d-flex justify-content-around fs-4">
                            <span>Opening Stock: <%- (products[0].remainingstock + products[0].totalweight) %>kg
                            </span>
                            <span>
                                Closing Stock: <%- products[products.length - 1].remainingstock %>
                                    kg
                            </span>
                        </div>
                        <%}else{%>
                            <h1 style="text-align: center;">NO RESULTS</h1>
                            <% } %>

    </div>