<% layout('/boilerplate/template') -%>



    <div class="container">

        <div>
            <p>
                <span class="text-muted">

                    Current User: <%= username %> | Current Branch: <%= branch_name %> | Current Price per kg:
                            &#8358;<span id="price">
                                <%= price %>
                            </span> | 50kg Price: &#8358;<span id="price50">
                                <%= price50 %>
                            </span> | Remaining Stock: <%= branchStock %> kg
                </span>
            </p>
            <a href="/sales" class="btn btn-outline-primary btn-sm mb-2">View All Sales</a>
            <a href="/logout" class="btn btn-outline-danger btn-sm mb-2">Logout</a>

        </div>


        <div class="input-group mb-3">
            <label for="add" class="input-group-text">Add By Weight</label>
            <input type="number" class="form-control" id="custom_kg" name="custom_kg" placeholder="Custom kg"
                aria-describedby="paid_label">
            <button class="btn btn-primary" id="customAdd">Add</button>
            <button class="btn btn-danger" id="clearButton">Clear</button>
        </div>
        <div class="input-group mb-3">
            <label for="add" class="input-group-text">Add By Price</label>
            <input type="number" class="form-control" id="custom_price" name="custom_price" placeholder="Custom Price"
                aria-describedby="paid_label">
            <button class="btn btn-primary" id="customPrice">Add</button>
            <button class="btn btn-danger" id="clearButton">Clear</button>
        </div>
        <div class="input-group mb-3">

            <label for="payment" class="input-group-text">Payment Method</label>
            <select name="payment" id="payment" class="form-select">
                <option value="POS">POS</option>
                <option value="Cash">Cash</option>
                <option value="Transfer">Transfer</option>
            </select>
        </div>

        <div class="input-group mb-5">
            <span for="paid" class="input-group-text" id="paid_label">Amount Paid: </span>
            <input type="number" class="form-control" id="paid" name="paid" placeholder="Amount Paid"
                aria-describedby="paid_label">
            <button class="btn btn-success" id="sub">Print Receipt</button>
        </div>
    </div>



    <div id="cart" class="mb-2">
        <h1>Cart</h1>
    </div>
    </div>

    <script>
        let price = parseFloat(document.getElementById('price').innerText);
        let price50 = parseFloat(document.getElementById('price50').innerText);
        let products = new Array;
        let totalprice = 0;
        let totalweight = 0;
        const addToList = () => {
            products.push(document.getElementById('product').value);
            renderCart();
        }
        const addCustom = () => {
            products.push(document.getElementById('custom_kg').value);
            renderCart();
        }
        const addByPrice = () => {
            let weight = parseFloat(document.getElementById('custom_price').value);
            weight = (weight / price)
            weight = weight.toFixed(3)
            weight = parseFloat(weight)
            products.push(weight)
            renderCart()

        }

        const clearList = () => {
            products = new Array;
            renderCart();
        }

        const renderCart = () => {
            let cartDisplay = document.getElementById('cart').innerHTML;
            cartDisplay = "<h1>Cart</h1>";
            totalprice = 0;
            totalweight = 0;
            for (const product of products) {
                let specPrice = (product == 50) ? price50 : price
                cartDisplay += `<div class="mb-2">
                <div class="card-body">
                    <p class="card-text"><span class="ite">${product}</span> kg cylinder: Price is &#8358;<span class="pric">${(product == 50) ? specPrice : product * specPrice}</span> </p>
                </div>`;
                totalprice += parseFloat((product == 50) ? specPrice : product * specPrice);
                totalweight += parseFloat(product);
            }
            cartDisplay += `<div>
                Total Price: &#8358;${totalprice}
                </div>`;

            document.getElementById('cart').innerHTML = cartDisplay;

        }



        //document.getElementById('addButton').addEventListener('click', addToList);
        document.getElementById('clearButton').addEventListener('click', clearList);
        document.getElementById('customAdd').addEventListener('click', addCustom)
        document.getElementById('customPrice').addEventListener('click', addByPrice)
        document.getElementById('sub').addEventListener('click', () => {
            let payment = document.getElementById('payment').value
            let paid = parseFloat(document.getElementById('paid').value)
            // if (totalprice > 0 && totalweight > 0) {
            //     
            //     let payment = document.getElementById('payment').value
            //     if (paid >= (parseFloat(totalprice))) {
            //         window.location.href = '/finish?total=' + totalprice + '&weight=' + totalweight + '&paid=' + paid + '&payment=' + payment;
            //     } else {
            //         document.getElementById('cart').innerHTML += "<br>Insufficient amount paid"
            //     }
            // } else {
            //     document.getElementById('cart').innerText = "This field cannot be empty"
            // }
            const items = document.querySelectorAll('.ite')
            const prices = document.querySelectorAll('.pric')
            if (items.length && paid >= totalprice) {
                let space = '<form method="POST" action="/purchase" style="display: none">'
                for (let i = 0; i < items.length; i++) {
                    let cop = {
                        item: parseFloat(items[i].innerText),
                        price: parseFloat(prices[i].innerText)
                    }
                    space += `<input type="Number" name="product[${i}].item" value=${cop.item}>
                <input type="Number" name="product[${i}].price" value=${cop.price}>`
                }
                space += `<input type="Number" name="total" value=${totalprice}>`
                space += `<input type="Number" name="weight" value=${totalweight}>`
                space += `<input type="String" name="payment" value=${payment}>`
                space += `<input type="Number" name="paid" value=${paid}>`

                space += "</form>"
                document.body.innerHTML += space
                document.querySelector('form').submit()
            }
            else if (!items.length) {
                document.getElementById('cart').innerHTML += "<br>This field cannot be empty"
            } else {
                document.getElementById('cart').innerHTML += "<br>Insufficient amount paid"
            }
        });
    </script>