<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Print Receipt</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
    <style>
        td {
            padding: 5px;
        }

        @media print {
            #hide {
                display: none;
            }
        }
    </style>

</head>

<body style="font-family:'Times New Roman', Times, serif; font-size: 8px; max-width: 5cm;">
    <div class="container" style="max-width: 400px;">
        <div style="text-align: center;">
            <img src="logo.jpg" alt="Logo" width="32px" height="30px">
            <h3 style="font-size: 10px;">Receipt</h3>
        </div>
        <div>
            <div style="font-size: 7px; font-weight: bolder;">

                <div class="d-flex justify-content-between">

                    <strong>Date:</strong>


                    <%= receipt.date %>
                </div>

                <div class="d-flex justify-content-between">

                    <strong>SN:</strong>


                    <%= SN %>
                </div>
                <div class="d-flex justify-content-between">


                    <strong>Branch:</strong>


                    <%= receipt.branch_name %>
                </div>

                <div class="d-flex justify-content-between">

                    <strong>Total Price:</strong>


                    &#8358;<%= receipt.total %>
                </div>
                <div class="d-flex justify-content-between">


                    <strong>Amount Paid:</strong>


                    &#8358;<%= receipt.paid %>
                </div>
                <div class="d-flex justify-content-between">


                    <strong>Change Due:</strong>


                    &#8358;<%= receipt.paid - receipt.total %>
                </div>
                <div class="d-flex justify-content-between">


                    <strong>Total Weight:</strong>


                    <%= receipt.weight %>kg
                </div>


            </div>
            <p style="text-align: center;"><span>Customer care: 08132044403 <br> Powered by AFX</span></p>

            <a href="/" id="hide" class="btn btn-danger">Go Back</a>
        </div>

        <script>
            window.print();
        </script>
</body>

</html>